@charset "utf-8";
@import url("font-awesome.min.css");
@import url("../layui/css/layui.css");
/*common*/
*{ padding:0; margin:0}
ul,li {list-style:none;}
body{ background-color:#f5f5f5;  font-size:12px; font-family:"微软雅黑"; color:#333; }
.pad10 {padding:10px;}
.pad20 {padding:20px;}
.red{ color:#ff7800;}
.f14 {font-size: 14px;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}
.btn{ padding:0 15px; height:28px; background-color:#fff; border:1px solid #ddd;white-space: nowrap;font-size: 12px;border-radius: 2px;cursor: pointer; margin:3px;}
.btn_blue{background-color:#3596dd!important }
.btn_blue a{ color:#fff; display:block; width:100%; height:38px;}
.btn_grey{ background-color:#ccc;}
.btn_orange{ background-color:#ff7800; border:none; color:#fff;}
.layui-layer-btn .layui-layer-btn0{ background-color:#3596dd !important}
.layui-layer-btn{ background-color:#f5f5f5; border-top:1px solid #ddd;}
.layui-btn-primary:hover{ border-color:#3596dd;}
.layui-btn{ font-size:12px;}
.btn_width{width:150px;}
.layui-btn:hover ,.btn:hover{opacity:.8;filter:alpha(opacity=80)}
.layui-table td, .layui-table th{ padding:6px 10px;}
.layui-form-radio span{ font-size:12px;}
.nodate{ text-align:center; padding:250px 0; font-size:14px; color:#333;}
.layui-form-label{ width:120px;}
.layui-input-block{ margin-left:150px; }
.layui-input-block1{width:50%; min-width:400px;}
.layui-layer-page .layui-layer-content {overflow: inherit !important;}
.submin-cancle {bottom: 35px;background-color: #fff;right: 37px;left: 162px;padding: 15px 0;background-color: #F5F5F5;margin-bottom: 0; margin-top:60px;}
.layui-elem-field1{ border-color:#ff7800}
.layui-nav{ background:none; padding:0;}
.scoll{overflow-x: hidden;overflow-y: auto;padding-right:10px;}
.scoll::-webkit-scrollbar {width: 4px;height: 4px; position:absolute}
.scoll::-webkit-scrollbar-thumb {border-radius: 5px;-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);background: rgba(0,0,0,0.2);}
.scoll::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);border-radius: 0;background: rgba(0,0,0,0.1);}
.btnsure{ text-align:center; padding-top:20px;}
.layui-btn-blue{}
/*leftNav,top*/
.top{ height:39px; line-height:39px; background-color:#fff; border-bottom:1px solid #c9c8c9; position:fixed; z-index:11; width:100%;}
.top h2{ display:block; width:160px; background-color:#3596dd; text-align:center; position:absolute; height:40px; float:left; line-height:36px;}
.top span{ display:block; float:left; padding-left:180px;}
.top div{ float:right; padding-right:40px;}
.top p{ color:#000; display:block; float:left;}
.top div img{ height:30px; width:30px; border-radius:30px; margin-left:10px; cursor:pointer;}
.nav{ background-color:#000; width:160px;  position:fixed; height:100%;}
.nav ul li{ height:49px; line-height:49px; border-bottom:1px solid #4c4c4c;font-size:14px; background-color:#333;position:relative; }
.nav ul li a{ color:#999; display:block; padding-left:30px; }
.nav ul li a:hover{ background:url(../images/icon.png) right center no-repeat #252525;}
.nav ul .active{color:#fff; background:url(../images/icon.png) right center no-repeat #252525;}
.nav ul .active span{ color:#fff;}
.nav ul li i{  width:28px;}
.nav div{ text-align:center; color:#eee; padding:35px 0; line-height:24px;}
.nav div span{ font-size:18px; color:#fff;}
.nav p{ text-align:center; color:#999; line-height:48px; display:none;}
.nav h2 ,.nav strong{ display:none; position:absolute; left:50px; top:500px; background-color:#fff; height:48px; line-height:48px; padding:0 10px; border:1px solid #e5e5e5; border-left:none ;  }
.nav h2{width:210px;}
.nav li div{ display:none; position:absolute; left:50px; top:500px; background-color:#fff; height:48px; line-height:48px; padding:0 10px; border:1px solid #e5e5e5; border-left:none ; font-weight:normal; top:0; min-width:80px; color:#333; }
.nav strong{font-weight:normal; top:0; min-width:80px; color:#333;}
/*content*/
.upldimg{margin-left:150px; margin-top:10px;}
.upldimg img{ max-width:400px;}
#addkf .upldimg{margin-left:120px; margin-top:10px;}
#addkf .upldimg img{ max-width:120px;}
.ct_form .upldimg ,.smlm-batch .upldimg{margin-left:0px;}
#main{padding-top:40px; }
.topnav_slide{ width:104px; height:90px; background:url(../images/topmynav_bg.png) no-repeat; position:fixed; right:30px; top:30px; z-index:1111; padding-left:20px; padding-top:20px; font-size:14px; }
.topnav_slide i{padding-left: 15px;width: 20px; }
.topnav_slide p{ display:block; padding-top:12px;}
.content{ padding-left:180px;padding-right:30px;}
.cntnt{ padding:20px 0px;}
.ct1{ border:1px solid #ddd;}
.ct_basic{ width:50%; float:left;}
.ct_basic img{ float:left; width:150px; height:150px; margin-right:30px; margin-left:25px; margin-top:25px;}
.ct_basic div{ font-size:12px; color:#666; line-height:34px; padding-top:25px;}
.ct_basic strong{ font-size:16px; color:#3596dd; font-weight:normal;}
.ct_basic span{ color:#333; font-size:14px;}
.ct_basic a{color:#3596dd; margin-right:20px;}
.ct_basic a i{ margin-right:2px; font-size:14px;}
.tit{ height:43px; border-bottom:1px solid #ddd; font-size:16px; color:#000; background-color:#f5f5f5; line-height:43px; padding:0 20px;}
.tit a{ float:right; font-size:14px;color:#3596dd;}
.ct_date { width:50%; float:left;}
.ct_date div{ height:200px; border-left:1px solid #ddd; background-color:#fff;}
.ct_date ul li{ float:left; width:33.33%; }
.ct_date ul li a{ display:block; border-right:1px solid #ddd; height:156px; text-align:center;font-size:14px;}
.ct_date ul li:last-child a{ border-right:none;}
.ct_date ul li h1{ font-size:44px; color:#3596dd;padding-top:35px; }
.ct2{ border:1px solid #ddd;  background-color:#fff; margin-top:20px;}
.ct_tip{ color:#000; width:50%; float:left;height:300px; }
.ct_tip div{padding:20px 30px;height:260px;}
.ct2 h2{ font-size:16px; color:#000;}
.ct2 ul{ padding-top:20px;}
.ct2 ul li{ line-height:36px; color:#333; padding-left:10px; height:36px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.ct2 ul li i{ padding-right:4px;}
.ct2 ul li a{color:#3596dd; margin:0px 5px;}
.ct_work .ct_workdown{ border-left:1px solid #ddd; position:relative; }
/*滚动条样式*/
.ct2 .ct_tip .inner{position: absolute;top: 20px;left:0px;overflow:hidden; width:94%; margin-top:30px; padding:0; padding-left:15px;}
.ct2 .ct_tip .innerbox{overflow-x: hidden;overflow-y: auto;color: #000;font-size: .7rem;font-family: "\5FAE\8F6F\96C5\9ED1",Helvetica,"黑体",Arial,Tahoma;height:220px; padding:0 10px;}
.innerbox::-webkit-scrollbar {width: 4px;height: 4px; position:absolute}
.innerbox::-webkit-scrollbar-thumb {border-radius: 5px;-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);background: rgba(0,0,0,0.2);}
.innerbox::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);border-radius: 0;background: rgba(0,0,0,0.1);}
.ct2 ul li strong{ font-weight:normal; float:left; display:block; width:80%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.ct2 ul li span{ color:#999;display:block; float:right; wiidth:20%; text-align:right;}
.ct2 ul li i{ padding-left:10px; cursor:pointer;}
.ct_workdown h2{ margin-bottom:40px;}
.ct_last{ min-height:156px;}
.ct_hot .ct_hot1{ border-left:1px solid #ddd; min-height:156px;}
.ct3 ul{ padding-bottom:30px;margin:0 -10px;}
.ct3 ul li{ float:left; width:14.285%; padding:30px 0; padding-bottom:0px; }
.ct3 ul li a{ display:block; font-size:16px;text-align:center;background-color:#fff; border:1px solid #ddd;line-height:80px; margin:0 10px;}
.ct3 ul li a:hover{ background-color:#f7f7f7;}
.ct3 ul li i{ padding-right:10px;}
.sactive i{ padding-right:4px;}
/*内容中心*/
.body{ border:1px solid #ddd; background-color:#fff;}
.snav {background-color:#f5f5f5; border-bottom:1px solid #ddd; position:relative; height:35px;  }
.snav ul{ width:100%; position:absolute; width:600px;}
.snav li{ float:left; height:35px; line-height:35px; font-size:14px; color:#000; border-right:1px solid #ddd; padding: 0 15px; text-align:center; }
.snav .sactive{ background-color:#fff; height:36px}
.snav .snavli ,.snav .sactive1{  background-color:#3596dd; padding: 0 15px;margin-top:-1px; height:37px;line-height: 38px;}
.snav .sactive1{ padding:0; padding-right:10px;}
.snav .sactive1 a { color:#fff;}
.snav .sactive1 .layui-nav-child dd a{ color:#333;}
.layui-nav .layui-nav-more{ right:12px; color:#fff;}
.snav .layui-nav .layui-this:after, .snav .layui-nav-bar, .snav .layui-nav-tree .layui-nav-itemed:after{  height:0;}
.snav .layui-nav-child{ top:40px;}
.snav .snavli a{color:#fff; }
.snav .snavli i{ padding-right:4px;}
.container{ background-color:#fff; padding:20px;}
.snav1 li{ float:left;}
.snav1 li a{ color:#333; padding:0 10px;}
.snav1 li i{ padding-right:4px;}
.snav1 .snav1li a{color:#3596dd; }
.layui-laypage a:hover{color:#3596dd;}
.layui-table td, .layui-table th{ font-size:12px;}
.ct_body{ position:relative;}
.ct_body table img{ height:45px; margin:3px;}
.ct_body h3{color:#3596dd; font-size:14px; position:absolute; right:25px; top:14px; cursor:pointer;}
.delate .pop-main ,.choose .pop-main ,.normaltip .pop-main {min-height: inherit;padding: 20px;color: #333;text-align: center;line-height: 80px;font-size: 16px;font-family: "微软雅黑";padding-bottom: 10px;}
.normaltip .pop-main{ line-height:28px; padding:40px;}
#goodsxl{  font-size:12px;}
#goodsxl h2{ color:red; font-size:12px;}
.goodsxl{padding:30px;}
#goodsxl .tctable{ max-height:400px; overflow-y:scroll}
.addgooddsxl{ height:50px; background-color:#f5f5f5; border-top:1px solid #ddd; line-height:50px; color:#3596dd;}
.addgooddsxl span{ padding-left:30px; font-size:14px; cursor:pointer;}
.addgooddsxl i{ padding-right:4px;}
#addgoodsxl .addgoodsxl{height:420px;}
#addgoodsxl .layui-form-item{ border-bottom:1px solid #ddd; padding:10px 30px;margin-bottom:0;}
#addgoodsxl .layui-form-item:first-child{ padding-bottom:15px;}
#addgoodsxl .layui-form-item:last-child{ border-bottom:none;}
#addgoodsxl{ padding:30px 0px;}
#addgoodsxl .layui-form-label{ width:100px;}
#addgoodsxl .layui-input-block{ margin-left:130px;}
#addgoodsxl .nameinput{ width:400px;}
#addgoodsxl .layui-form-item .layui-input-inline{ width:135px;}
#addgoodsxl p{ padding-top:8px;}
#addgoodsxl .layui-input-inline{ margin-top:8px;}
#addgoodsxl .spa{ line-height:40px; display:block;float:left;}
#addgoodsxl .layui-layer-page .layui-layer-content{ overflow:initial !important;}
.ct_form{ padding-top:40px;}
.xl_tag span{ border:1px solid #ddd; line-height:32px; padding:0 10px; border-radius:4px; display:inline-block; margin: 4px 0; margin-right:6px; background-color:#f7f7f7; cursor:pointer;}
.xl_tag strong{ color:#3596dd; font-weight:normal; cursor:pointer;}
.xl_tag i{ margin-left:4px; cursor:pointer; }
.ct_form .layui-upload span{ padding-left:10px; color:#999;}
.ct_form textarea{ height:150px;}
.video_tip{ border:1px solid #f09624; padding:10px 15px; background-color:#fffbda; color:#000; line-height:24px;}
.layui-progress{ margin-top:15px; width:54%; min-width:300px;}
.layui-upload-drag{ width:50%; min-width:300px; padding:30px 2%;}
.layui-progress-big, .layui-progress-big .layui-progress-bar{ height:14px; line-height:14px;}
.editvimg{ padding-left:150px; padding-bottom:20px; width:50%;}
.editvimg img{ width:100%;}
/*商贸联盟*/
.substation li{ width:20%; float:left;}
.subdiv{ border:1px solid #ddd; margin:15px; position:relative;}
.subdivc{border:1px solid #3596dd}
.subdiv img{ width:100%;}
.subdiv a span{ display:block; width:60px; height:60px; position:absolute; right:-3px; top:-4px; background:url(../images/blind.png) no-repeat;}
.subdiv h2{ font-size:14px; color:#333; text-align:center; display:block; padding:0 15px; line-height:40px; height:40px; overflow:hidden;}
.subdiv div{ background-color:#ddd; height:26px; font-size:12px; color:#333; line-height:26px; padding:0 15px;}
.subdiv div span{ float:right; cursor:pointer;}
.subdiv div i{ padding-right:3px;}
.subdiv p{ display:block; width:88px; border:1px solid #ddd; padding:5px 0; position:absolute; right:-1px; z-index:2; background-color:#fff;}
.subdiv p a{ color:#333; font-size:12px; display:block; line-height:26px; padding-left:10px;}
.subdiv p i{ width:16px;}
.subdiv strong{ display:block;position:absolute; top:10px; left:10px;height:20px; width:20px;}
.subdiv .fa-check-square-o ,.subdiv .fa-square-o{ color:#3596dd; font-size:27px; cursor:pointer;  margin-top:-1px;}
.subdiv div font{ color:#ff7800; padding-left:4px;}
/*创建分站*/
.substation-add{ background-color:#f5f5f5; border-bottom:1px solid #ddd;}
.sbul{ width:680px; margin:30px auto; margin-bottom:50px;}
.sbul li{ float:left; width:220px;text-align:center;height:5px; background-color:#ddd; position:relative;}
.sbul li:last-child{ background-color:inherit; width:20px;}
.sbul span{ background-color:#dddddd; height:20px; width:20px; display:block; border-radius:20px; margin:0 auto; position:absolute; top:-8px; left:-1px}
.sbul li:last-child span{ margin-left:-2px;}
.sbul .this span ,.sbul .lineli{background-color:#3cb878;}
.sbul p{  font-size:12px; color:#000; position:absolute; top:20px; left:-15px;}
.sbul li:first-child p{ left:-25px;}
.sbul li:last-child p{ left:-5px;}
.sub_choose{ padding:20px 30px; padding-bottom:0;}
.addcontent_nav h2  span{ font-size:12px; padding-left:5px; color:#999;}
.addcontent_nav h2  span strong{ color:#3596dd; font-weight:normal;}
.sub_choose h2 ,.sub_template h2 ,.addcontent_nav h2{ font-size:14px; padding-bottom:10px;}
.sub_choose li{ float:left; border:1px solid #ddd; padding:20px; padding-top:12px; margin-right:40px; width:230px; cursor:pointer; margin-bottom:10px;}
.sub_choose .addlis{ background-color:#e9f2f9;}
.sub_choose h3{ font-size:18px;}
.sub_choose p{ font-size:12px; color:#999; padding:10px; display:block; border:1px dashed #b7b7b7; background-color:#fff; margin-top:10px; line-height:24px; border-radius:2px; height:72px;}
.sub_tab{ margin-bottom:0;}
.word-blue+.layui-form-checkbox span{ color:#3596dd}
.sub_tab .layui-tab-content{ background-color:#fff; padding:30px;}
.sub_tab .layui-tab-content ul{ padding:20px 0;}
.sub_tab .layui-tab-content li{ padding:10px 25px;}
.sub_tab .layui-tab-content li p{ font-size:12px; color:#3596dd; display:inline-block; cursor:pointer;}
.sub_tab .layui-tab-content li:nth-child(even){ background-color:#f5f5f5; border-top:1px solid #ddd; border-bottom:1px solid #ddd;}
.sub_tab .layui-tab-title .layui-this ,.singlediv{ background-color:#fff;}
.sub_tab .layui-tab-title{ padding-left:30px;}
.sub_tab .layui-tab-title .layui-this:after{border-bottom-color:#fff}
.sub_tab .layui-tab-content .btn_blue{ margin-left:30px; }
.sub_tab .hide{ display:none;}
.tabhover span{ font-size:16px; padding:0 5px; margin:0 5px; cursor:pointer;}
.selectedblue{ color:#3596dd}
.sub_tab  .layui-form-checkbox[lay-skin=primary] span{ font-size:14px;}
.sub_tab .layui-tab-item{ padding-bottom:60px;}
.sub_tab .layui-upload span ,.singlediv span{ color:#666; padding-left:10px;}
.sub_tab .layui-tab-item-seco .btn_blue ,.singlediv .btn_blue{ margin-left:150px; width:120px;}
.singlediv{ padding:40px;}
.iporttip{ color:red; font-size:14px;}
.btn_width a{ color:#fff; display:block; width:120px; height:38px;}
/*创建新分站-选择模板*/
.sub_template{ padding:20px 10px; position:relative; background-color:#fff;}
.sub_template h2{padding-left:15px;}
.sub_template span{ font-size:12px; padding-left:5px; color:#999;}
.sub_template span strong{ color:#3596dd; font-weight:normal;}
.sub_template li{ float:left; width:25%;}
.sub_template li .temli{ border:2px solid #ddd; margin:15px;}
.sub_template li .moren{    border: 3px solid #ff7800;margin: 14px;}
.sub_template li img{ width:100%;}
.sub_template li span{color:#3596dd}
.sub_template li h4{ font-size:14px; color:#000; float:left;}
.temaction{ padding:10px 20px; padding-top:0; border-top:1px solid #ddd; padding-top:15px;}
.temaction span{ float:right;}
.temaction a{ float:right; margin-right:15px;}
.temimg{ position:relative;}
.temaction  .temchoose{ cursor:pointer;}
.sub_template li p{ margin-bottom:10px;}
.sub_template li .temimgp{background-color:rgba(0,0,0,0.5); position:absolute; width:90%; height:90%; color:#fff; padding:5%;line-height: 18px;padding-top: 10px;}
.sub_template li .temimgp span{ padding:3px 6px; background-color:#3596dd; color:#fff; margin-bottom:5px; margin-right:5px; display:block; width:60px; text-align:center;}
.sub_template .page{ padding-left:15px;}
.tembtn{ width:200px; position:absolute; right:0; bottom:15px; right:-5px;}
/*创建新分站-添加内容*/
.addcontent{ padding-top:20px; position:relative; background-color:#f5f5f5;}
.addcontent_nav{ padding:10px 0;}
.addcontent_nav ul li{ float:left; line-height:38px; float:left; border:1px solid #ddd; border-radius:2px; padding:0 15px; margin:8px 16px; cursor:pointer; background-color:#fff; margin-left:0;}
.addcontent_nav ul span{color:#3596dd; cursor:pointer; font-size:14px; line-height:38px; margin-top:8px; display:block; float:left;}
.addcontent_nav ul .colorblue ,.xl_tag .colorblue{ background-color:#3596dd; color:#fff; border-color:#3596dd;}
.addct{ padding:20px 40px; background-color:#f5f5f5; }
.addct img{    height: 45px;margin: 3px;}
.addct .layui-table td ,.addct .layui-table th{ padding:6px 20px;}
.subbtn{ float:right;}
.addctlist{ padding-bottom:40px; background-color:#fff;}
.addctlist table{ margin-bottom:15px;    overflow-y: scroll; max-height:300px;}
.addctlist span a{color:#3596dd; font-size:14px;}
.sub_finish{ background-color:#fff; padding:100px; min-height:300px;}
.sub_finish p{ padding-bottom:30px; font-size:14px; }
.sub_finish span{ color:#666; padding-top:20px; display:block;}
.sub_addct_add{ background-color:#fff; padding:20px; padding-top:40px;}
.sub-basic .layui-upload-list img{ width:100%;}
.sub-basic .layui-code,.sub-basic .layui-upload-list{ height:auto; background-color:inherit;}
.scolla ,.scollb{ overflow-y:scroll; max-height:360px; margin-bottom:20px;}
.scolla table ,.scollb table{ margin-top:0;}
.scollb{ max-height:540px; margin-top:10px;}
/*分站设置*/
.item-basic{ margin-bottom:0;}
.sub-basic .item-basic strong{ line-height:38px; font-size:14px;color:#3596dd; font-weight:normal;}
.basic-tip{ border:1px  dashed #ddd; line-height:18px; color:#666; padding:10px; width:60%; min-width:500px; margin-top:6px;}
.thisname{ font-size:14px;padding-bottom:10px;}
.thisname span{color:#3596dd; }
.sub-content-add{ padding-top:60px;}
.sub-contact .layui-table td { padding:12px 20px;}
.sub-contact .layui-table th{ padding:8px 20px;}
.sub-contact .layui-unselect span{ display:none;}
.addcet{ padding:30px 50px; padding-left:0; padding-top:40px;}
.mr,.mr:hover th{background-color: #e9f6ff;}
/*seo*/
.tips {background: #fffbda url(../images/advertisment-32.png) no-repeat 10px 10px; margin-bottom: 10px;border: 1px solid #f09624;color: #000;}
.tips p {margin: 15px 10px 15px 50px;font-size: 12px;line-height: 14px;}
.sitebox ul {padding:25px 0;}
.sitebox ul li {width:20%;float:left;margin-bottom:10px;text-align:center;}
.sitebox ul li a {padding:5px;margin:5px;border:1px solid #eee;border-radius:3px;display:block;}
.sitebox ul li a:hover {border-color:#006ac0;}
.sitebox ul li a img {max-width:100%;border-radius:3px;}
.seobox {position: relative;}
.seobox h4 a {float:right;height:18px;line-height:18px;}
.seoinput {width:610px;margin:10px 0;position: relative;}
.seoinput a {height:37px;line-height:37px;}
.kwbosel {background-color:#fff;width:59px;float:left;border:1px solid #ccc;border-right:none;}
.kwbosel a {text-align:center;display:block;}
.kwbo {width:548px;float:left;border:1px solid #ccc; margin-top:-2px;}
.kwbo a {background-color:#f5f5f5;height:21px;line-height:21px;padding:5px;margin:3px;display:inline-block;}
.kwbo input {background:none;border:none;}
.defaultgz {background-color:#fff;width:550px;;border:1px solid #ddd;left:59px;top:18px;position:absolute;z-index:9999;}
.seogzlist {background-color:#fff;width:180px;border:1px solid #ddd;left:609px;top:18px;position:absolute;z-index:9999;}
.gzbox h5 {background-color:#ddd;padding:5px;font-size:14px;}
.gzbox a {height:25px;line-height:25px;padding:5px;margin:0;display:block;}
.gzbox a:hover {background-color:#f5f5f5;}
.div100{ padding-top:10px;}
.seobox{ padding-bottom:20px;}
.sublink .sub_finish{ padding-left:20px; padding-bottom:0px; padding-top:30px;}
.sub-seo textarea{ width:590px; border:1px solid #ddd; height:150px; padding:10px}
/*商贸联盟*/
.videozy { padding:10px 0;}
.videozy h2{ font-size:14px;display:block; float:left;line-height:36px; padding-right:6px;}
.videozy p{ display:block;background-color:#ddd; padding:4px; margin-right:10px; border-radius:2px; height:28px; line-height:26px;float:left;}
.videozy img{ border-radius:2px; float:left;}
.videozy span{ font-size:16px; line-height:28px; color:#3596dd; font-weight:normal; padding:0 10px; font-family:Verdana, Geneva, sans-serif; float:left;}
.videozy .spa{ font-size:12px; color:red; font-family:"微软雅黑"}
.video table span{ color:red;}
.video table a{color:#3596dd;}
.video table p{ cursor:pointer;}
.videoimg{ text-align:center; padding-bottom:20px;}
.videoimg img{ width:100%;}
.videolook { padding:30px; padding-bottom:50px; max-height:600px; overflow-y:scroll;}
.videolook h2{ font-size:14px; color:red; display:block; padding-bottom:10px;}
.videolook li{ line-height:20px; padding:4px 0;}
.videolook li span{ display:block; float:left; width:70px; }
.videolook li p{ display:block; float:left; width:640px; color:#666;}
.videoul li{ width:50%; float:left;}
.videolook .videoul li p{ width:290px;}
.videolook legend{ font-size:14px; color:#3596dd}
.videolook table td a{word-break:break-all;}
#newslook{ padding-top:10px; padding-bottom:20px;max-height:500px;}
/*商贸联盟-添加视频*/
.video-release .layui-form-radio span{ display:none;}
.video-release h2{ padding-top:5px;}
.videobtn{ padding-top:5px;}
.videobtn a{ color:#3596dd; font-size:14px;}
.video-add{ padding-top:60px;}
.video-add textarea{ height:200px;}
.video-add ul li{  display:block;background-color:#ddd; padding:4px; margin-right:10px; border-radius:2px; height:29px; line-height:26px;float:left; cursor:pointer;}
.video-add ul li img{ float:left;}
.video-add ul li i{ font-size:30px; color:#aaa; float:left; cursor:pointer;}
.video-add ul li span{ color:red; padding:0 10px;}
.video-add ul .colorblue{ background-color:#3596dd;}
.video-add ul .fa-check-square-o{ color:#fff; padding:0 5px; padding-left:10px;}
/*分类站联盟*/
.change{ padding:30px;}
.change h2{ font-size:14px; padding-bottom:10px;}
.changediv{ border:1px solid #ddd; background-color:#f5f5f5; padding:16px; max-height:150px; overflow-y:scroll; margin-bottom:20px;}
.changediv li{ padding:4px;}
.change .layui-input-block{ width:360px;margin-left:86px;}
.change p{ line-height:20px; padding-top:10px; color:#666;}
.change .layui-form-label{ width:80px; padding:9px 0; padding-right:6px;}
/*商贸联盟*/
.smlm-yelpage-tit{ min-height:48px;    border: 1px solid #d1d1d1;background-color: #FFF;overflow: hidden; padding:8px 10px; margin-right:10px;}
.smlm-yelpage-tit p{ font-size:12px; color:#999; padding-left:58px;background: url(../images/zzd_but.png) no-repeat -98px -401px; display:block; min-height:44px; line-height:20px; padding-top:4px; }
.smlm-yelpage-tit p span{ color:#333; display:block; font-size:14px;}
.business ul{ margin:10px 0; margin-left:-10px;}
.business ul li{ float:left; width:20%; }
.business .boximg{ text-align:center; height:100px; line-height:100px;}
.business .boximg img{ max-height:90px; max-width:100%;}
.business .box{ border:1px solid #ddd; margin:10px;}
.business .boxword{ background-color:#f5f5f5; border-top:1px solid #ddd; padding:20px 0; height:110px;}
.business .boxwordimg{ float:left; padding-left:20px; margin-right:10px;}
.business .boxwordimg img{ height:110px;}
.business .boxworda{ height:110px;position:relative;}
.business .box p{ display:block; padding-left:15px; padding-top:8px;}
.business .box span{ font-size:16px; color:#3596dd; padding-left:6px; }
.business .box a{ display:block;  font-size:14px; width:120px; position:absolute; bottom:2px; left:140px;}
.business .box i{ padding-right:6px;}
.business .box a:hover{opacity:.8;filter:alpha(opacity=80);color:#fff}
/*商贸联盟-产品管理*/
.business-product .snav1 ,.business-add .snav1{ padding-top:10px;}
.smlm-product-list{ padding:10px 0; text-align:center; margin-left:-10px;}
.smlm-product-list li {width: 20%;float: left;}
.smlm-product-list li .licnt {background: #fff;border: 1px solid #ddd;margin: 6px;position: relative;margin:10px;height:231px;}
.smlmpd-tgz li .licnt ,.smlm-product-js li .licnt{ height:204px;}
.smlm-product-list .tttpic {padding: 20px 5px;height:120px;}
.smlm-product-list .ydb_imgcent {width: 120px;height: 120px;background: #fff;position: relative;margin: 0 auto;}
.smlm-product-list .ydb_imgcent a {display: table-cell;text-align: center;vertical-align: middle;overflow: hidden;*display: block;*font-family: arial;width: 120px;height: 120px;}
.smlm-product-list .ydb_imgcent a img {max-width: 120px;max-height: 120px;width: 120px\0;vertical-align: middle;}
.smlm-product-list p{ text-align:center; line-height:32px; height:32px; overflow:hidden; padding:0 20px; font-size:14px;}
.smlm-product-list .smlmcopy ,.smlm-product-list .smlmedit{color: #fff;display: none;font-size: 12px;text-decoration: none;padding: 4px 5px;cursor: pointer;    background-color: #4d90cb; border-radius:2px; margin-bottom:10px; position:absolute; right:0; z-index:111}
.smlm-product-list .smlmcopy a{color:#fff;}
.smlm-product-list .smlmedit{ background-color:inherit; border-radius:0; margin-top:4px;}
.smlm-product-list .smlmedit a{ color:#fff;background-color: #4d90cb;border-radius:2px; padding: 4px 5px; margin-left:6px;}
.smlm-product-list .smlmedit .smlm-delate { color:#555;    border: 1px solid #C9C9C9; background-color:#fff}
.smlm-product-list .mmbox{ padding:8px 10px; overflow:hidden;    background: #fff; text-align:center; height:22px;border-top: 1px solid #eaedf1;}
.smlm-product-list .build-time{background: #f3f3f3; text-align:left; font-size:12px; color:#888; line-height:24px;}
.smlm-product-list .mmbox img{ height:22px; width:22px; margin:0 3px;}	
.smlm-confirmation .pop-main {min-height:inherit;padding: 20px;color: #333;text-align:center;line-height:80px;font-size:16px;font-family:"微软雅黑";padding-bottom:10px;}
.licnt_add img {margin-top: 40px;}
.licnt_add h4 {font-size: 16px; color: #999;display: block;padding-top: 20px;}
.smlmproduct-content{ padding:30px; height:600px; font-size:12px;overflow-y:scroll;}
.smlmproduct .close1 span{    display: inline-block;vertical-align: middle;position: relative;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;border: 1px solid #729800;height: 30px;line-height: 30px;margin-right: 16px;background-color: #82ac06;}	
.smlmproduct-content .smlmpro1 img{ width:90%; margin:auto; }
.smlmproduct-content .smlmpro1 h1{ font-size:20px; font-weight:bold; padding-bottom:10px;}
.smlmproduct-content .smlmpro1 p{ line-height:20px; padding:4px 0;}
.smlmproduct-content .smlmpro1 .layui-col-lg4{ border:1px solid #eaedf1;margin-bottom:10px;  text-align:center;}
.smlmproduct-content .smlmpro1 .layui-col-lg8{ padding-left:20px;}
.smlmproduct-content .smlmpro2 ul{ margin:10px 0;border: 1px solid #eaedf1;}
.smlmproduct-content .smlmpro2 ul li{ padding:4px 0;  line-height:30px;    border-bottom: 1px solid #eaedf1; background-color:#fff;}
.smlmproduct-content .smlmpro2 ul li:nth-child(odd){background-color:#f2f2f2;}
.smlmproduct-content .smlmpro2 ul li:last-child{ border-bottom:none;}
.smlmproduct-content .smlmpro2 h3{ font-size:12px; display:block; float:left; width:13% ;font-weight:bold; padding-right:2%; text-align:right;}
.smlmproduct-content .smlmpro2 span{ display:block; float:left; width:85%;}
.smlmproduct-content .smlmpro2 span .fa{ font-size:17px; color:#EB6101; line-height:24px; }
.smlmproduct-content .smlmpro2 span .fa-mobile{ font-size:24px; color:#0173B7; margin-left:4px;}
.smlmproduct-content .smlmpro2 span img{height:20px; width:20px; border:1px solid #eaedf1}
.smlmproduct-content .smlmpro3 ,.smlmproduct-content .smlmpro4 ,.smlmproduct-content .smlmpro5{ margin-top:30px;}
.smlmproduct-content .smlmpro3 .layui-field-box{ padding:15px;}
.smlmproduct-content .smlmpro3 span{    border: 1px solid #d1d1d1;background: #f5f5f5;text-align: center; font-size:12px; padding:6px 10px; margin-right:6px; margin-bottom:6px; display:block; float:left; color:#666;}
.smlmproduct-content legend{ font-size:18px;}
.smlmproduct-content .smlmpro4 p{ color:#666; line-height:22px;}
.smlmproduct-content .smlmpro5 .layui-field-box{ width:100%;}
.smlmproduct-content .smlmpro5 .layui-col-md9 p{ line-height:22px; padding:4px 0; width:100%; display:block; color:#666;}
.smlmproduct-content .smlmpro5 img{ float:left;}
/*商贸联盟-产品管理-手动录入*/
.xxsm textarea{ margin-bottom:10px;}
.smlmadd1-tit{    font-size: 22px;color: #999999;margin-bottom: 11px;}
.smlm-addctnt{background-color:#fff; font-size:12px;    padding-top: 40px; }
.smlm-addctnt h2 {height: 38px;line-height: 38px;padding-left: 20px;overflow: hidden;cursor: pointer;background: #EFEFEF;border-left: 3px solid #3596dd;}
.smlm-addctnt .smlmtip{    color: #ff9000; position:absolute; left:231px; top:116px; border:1px solid #eacead; line-height:28px; padding-left:10px; padding-right:10px; border-radius:2px;  background-color:#faf6f1; display:none;}
.smlm-addctnt .smlmtip span{background:url(../images/smlm/zzd_but.png) no-repeat -181px -123px ;display:block; width:14px; height:14px; float:left; margin-top:7px; margin-right:6px;}
.smlm-addctnt .sc{ margin-bottom:10px;}
.smlm-addctnt .smlm-addctnt-industry{ margin-bottom:10px;}
.dbt-smlm .layui-form-label{ width:180px; float:left;}
.dbt-smlm .layui-input-block{ width:540px; float:left; margin-left:0;}
.dbt-smlm .smlm-addctnt .smlm-generate{ margin-top:-14px;}
.layui-btn-normal a{ color:#fff;}
.dbt-smlm .layui-upload img{ height:80px; margin-bottom:6px; margin-right:6px; margin-bottom:5px;}
.smlm-addctnt .layui-elem-quote{ padding:10px;}
.dbt-smlm .layui-form-item .layui-input-inline{ width:265px;}
.addfront{background-color: #f5f5f5;    border: 1px solid #e6e6e6; padding:6px; margin-top:6px;}
.addfront div{ float:left;line-height:22px;}
.addfront ul { float:none;  }
.addfront ul li{ float:left; padding-right:10px; line-height:22px;}
.addfront ul p{ display:block; float:left; color:#666;}
.addfront ul span{ width:7px; height:7px; display:block; float:left; background:url(../images/zzd_but.png) -289px 0px no-repeat; margin-top:7px; margin-left:6px; cursor:pointer;}
.addfront ul span:hover{background:url(../images/zzd_but.png) -279px 0px no-repeat;}
.addfront ul h3 { height:20px; line-height:20px; font-size:12px; padding:0 6px;     background: #ff7800!important; float:left; display:block; color:#fff; border-radius:2px; cursor:pointer;}
.selection .selection-title {    height: 40px;line-height: 40px;background: #4d90cb;overflow: hidden;}
.selection .selection-title h2{font-size: 16px;margin-left: 10px;color: #fff;float: left;display: block; float:left;}
.selection{ color:#333; padding:20px; }
.selection h2{font-size:12px; }
.selection .layui-form-item{background-color: #f5f5f5;border: 1px solid #e6e6e6;padding: 8px;margin-top: 6px; padding-bottom:0;}
.selection .layui-input-block{ margin-left:0;}
.selection .layui-input-block{ min-height:auto; width:400px; }
.selection .layui-input-block div{ float:left; }
.selection .layui-input-block div input{ float:left; font-size:12px;}
.selection .layui-input-block div strong{ width:7px; height:7px; display:block; float:left; background:url(../images/zzd_but.png) -289px 0px no-repeat; margin-top:6px;  cursor:pointer; margin-right:16px;}
.selection .layui-input-block div strong:hover{background:url(../images/zzd_but.png) -279px 0px no-repeat;}
.selection .layui-input-block div span{ padding-right:8px;font-size:12px;    padding-left: 6px;}
.selection .layui-form-item .layui-form-checkbox{ margin-top:0; margin-bottom:8px;}
.selection-input input {width: 260px;float: left;height: 32px;font-size: 12px;}
.selection-input a{ float:left; height:32px; border-radius:0 4px 4px 0; line-height:32px;display: inline-block;padding: 0 18px;color: #fff;white-space: nowrap;text-align: center;border: none;cursor: pointer;font-size:12px;}
.layui-form-checkbox[lay-skin=primary] .yeselect{    border-color: #5FB878; background-color:#5FB878;}
.red-tip{ color:red; padding-top:4px; font-size:12px;    line-height: 20px;}
.red-tip i{ width:14px; height:14px;background:url(../images/zzd_but.png) -181px -139px no-repeat; display:block; float:left; margin-right:6px; margin-top:2px;}
.bustages{ margin-left:0;}
#extend{    background-color: #f5f5f5;border: 1px solid #e6e6e6;padding: 6px;margin-top: 6px;}
#extend .layui-input-block{ width:230px; margin-left:0px;float: left;}
#extend .layui-form-label{ width:auto; padding-right:6px;}
#extend .layui-input{ height:34px;}
#extend  .layui-form-item:nth-child(1) .orange-tip ,#extend  .layui-form-item:nth-child(3) .orange-tip { padding-top:10px; height:auto;}
#extend .layui-form-item{ margin-bottom:6px;}
#extend .layui-form-radio i{ font-size:18px;}
#extend .layui-form-radio{ margin:0; margin-top:6px;}
.orange-tip{ color:#ff9000;  margin-left:6px; float:left; width:200px; color:#888; height:34px;    line-height: 18px;}
.orange-tip i{ width:14px; height:14px;background:url(../images/zzd_but.png) no-repeat -181px -123px; display:block; float:left; margin-right:6px; margin-top:1px;}
.smlm-addctnt .layui-layedit{ margin-bottom:10px;}
.business-add .layui-upload-list img{ width:100px; height:100px;}
.smlm-batch .extend .orange-tip {width: auto;height: auto;margin-top: 4px;}
.smlm-batch .extend {padding: 20px 0;padding-bottom: 0;}
.smlm-batch1{ padding-top:20px;}
.smlmtip1 {    color: #333;border: 1px solid #f09624;line-height: 28px;padding-left: 10px;padding-right: 10px;border-radius: 2px;background-color: #fffbda; margin:20px 16px}
.smlmtip1 span {background: url(../images/zzd_but.png) no-repeat -181px -123px;display: block;width: 14px;height: 14px;float: left;margin-top: 7px;margin-right: 6px;}
.addctlist .smlmtip1{ margin:0; margin-bottom:20px;}
.search-ind .search-ind-title {    height: 40px;line-height: 40px;background: #4d90cb;overflow: hidden;}
.search-ind .search-ind-title h2{font-size: 16px;margin-left: 10px;color: #fff;float: left;display: block; float:left;}
.search-main{ padding:20px;}
.search-input input{ width:526px; float:left; height:38px;}
.search-input a{line-height:38px; height:38px;padding: 0 25px;}
.search-main .no-date {width: 120px;text-align: center;margin: auto;line-height: 300px;}
.search-main .no-date i { background: url(../images/smlm/zzd_but.png) no-repeat -242px -105px;height: 30px;width: 30px;display: block;margin-top: 135px;float: left;margin-right: 10px;}
.search-main .no-date span {display: block;float: left;font-size: 16px;color: #888;}
.smlm-batch .extend .orange-tip{ width:auto; height:auto; margin-top:4px;}
.search-main .date-search-list{background-color: #f5f5f5;border: 1px solid #e6e6e6;padding: 6px;max-height:350px; overflow-y:scroll; margin-top:12px;}
.search-main ul li {line-height: 30px;padding: 0 10px;border-top: 1px solid #eee;font-size: 12px;}
.search-main ul span {float: right;height: 20px;line-height: 20px;font-size: 12px;padding: 0 6px;background: #bbb!important;display: block;color: #fff;border-radius: 2px;cursor: pointer;margin-top:4px;}
.search-main ul span a{ color:#fff;}
.smlm-batch .extend .demo-reload{    background-color: #f5f5f5;color: #333;border: 1px solid #d1d1d1; height:26px; text-shadow:inherit; line-height:26px; font-size:12px; padding:0 10px; margin-left:10px;}
.smlm-batch3{ margin-bottom:40px;}
/*从官网导入产品*/	 
.smlm-onlinectnt ,.smlm-onlinectnt1{    background-color: #FFF;padding:6px 16px;font-size:12px;}	
.smlm-onlinectnt .layui-form-label{ width:auto;}
.smlm-onlinectnt .layui-form-item{ margin:10px 0}
.smlm-onlinectnt1{ margin-top:10px; min-height:400px; padding:16px 0;}
.smlm-onlinectnt1 .no-date{ width:200px; text-align:center; margin:auto; line-height:400px;}	
.smlm-onlinectnt1 .no-date i{ background:url(../images/smlm/zzd_but.png) no-repeat -242px -105px;  height:30px; width:30px; display:block; margin-top:185px; float:left; margin-right:10px;}
.smlm-onlinectnt1 .no-date span{ display:block; float:left; font-size:20px; color:#888;}
.smlm-onlinectnt1 .layui-table{ margin-top:0; margin-bottom:0; }
.smlm-onlinectnt1 .layui-table img{ float:left; height:40px; margin:0 5px; width:40px;}
.smlm-onlinectnt1 .layui-table .th1{ width:6%;}
.smlm-onlinectnt1 .layui-table .th2{ width:20%;}
.smlm-onlinectnt1 .layui-table .th3{ width:18%;}
.smlm-onlinectnt1 .layui-table .th4{ width:8%;}
.smlm-onlinectnt1 .layui-table .th5{ width:42%;}
.smlm-onlinectnt1 .layui-table p{ display:block; max-height:40px; overflow:hidden;}
.smlm-onlinectnt1 .layui-table .pro-img{ max-height:40px; overflow:hidden;}
.smlm-onlinectnt1 .layui-table .thead tr{ position:fixed;}
.smlm-onlinectnt1 .layui-table tbody {display:block;max-height:400px;overflow-y:scroll;}
.smlm-onlinectnt1 .layui-table thead, .smlm-onlinectnt1 .layui-table tbody tr {display:table;table-layout:fixed;border-collapse:collapse;}
.smlm-onlinectnt1 .layui-table thead {width: 100%;}
.smlm-onlinectnt1 .layui-table th{ padding-left:15px;}
.smlm-onlinectnt1 .layui-table .th1{ padding-left:15px;}
.smlm-onlinectnt1 .submit-enter{ width:120px; text-align:center; margin:0 auto; padding-top:16px;}
.smlm-onlinectnt1 h1{ font-size:12px; font-weight:normal; padding-bottom:10px;}
.smlm-onlinectnt1 h1 span{ color:#ed9731}
.layui-table td, .layui-table th{ font-size:12px; }
.layui-table td{color:#666;}
 /*商贸联盟-产品管理-从官网导入产品*/
.dr_pro{ padding-top:20px;}
.dr_pro p a{color: #ff9000; text-decoration:underline;}
.dr_pro  h1 span{ color:#ff7800}
.dr_pro  td, .layui-table th{ font-size:12px; }
.dr_pro a{ height: 38px;line-height: 38px;font-size: 14px;padding: 0 18px;background: #ff7800!important;display: inline-block;color: #fff;border-radius: 2px;cursor: pointer; margin-left:10px;}
.dr_pro .layui-table img{ float:left; height:40px; margin:0 5px; width:40px;}
.dr_pro .layui-table p {display: block;max-height: 40px;overflow: hidden;}
.dr_pro .layui-table tbody {display: block;max-height: 400px;overflow-y: scroll}
.dr_pro .layui-table thead {width: 100%;display: table;table-layout: fixed;border-collapse: collapse;}
.dr_pro .layui-table .th1{ width:4%;}
.dr_pro .layui-table .th2{ width:20%;}
.dr_pro .layui-table .th3{ width:18%;}
.dr_pro .layui-table .th4{ width:12%;}
.dr_pro .layui-table .th5{ width:40%;}
.dr_pro .submit-enter{ width:120px; text-align:center; margin:0 auto; padding-top:16px;}
.wechatshow iframe {width: 100%; height:800px;}
/*新闻联盟*/
.news { padding-top:30px;}
.news .layui-form-label {width: auto; padding-left:0;}
.news h2{ font-size:14px;}
.news h2 span{ color:#ff7800; font-size:16px;}
.news-resources1{ margin-bottom:80px;}
.xw-list span{ color:red;}
/* 新闻推广 */
ul.media-cnt {padding:20px 10px;overflow:hidden;}
.beixuan{ display:block; padding-left:10px; font-size:14px; color:#54a1e9}
ul.media-cnt1{ padding-top:10px;}
ul.media-cnt li {float:left;width:20%;margin:5px 0;}
ul.media-cnt li span {color:#999;}
.to-all-media {text-align:center;}
.orderby-box dl {padding:5px 0;}
.orderby-box dt,.orderby-box dd {float:left;padding:5px;margin-right:5px;border-radius:3px;}
.orderby-box dd {color:#666;cursor:pointer;}
.orderby-box dd.on {background:#54a1e9 ;color:#fff;}
.orderby-box dd:hover {background:#ddd;}
.resultbox { padding-top:20px; font-size:14px;}
a.oppbtn {padding:0 5px;}
.money{float:right;padding:10px 20px 0;font-size:12px;}
.money .left .recharge[data-v-ca5ce56e]{height:50px;border:none;}
.orderbar {background:#f5f5f5;height:40px;line-height:40px;padding:10px 0;position:fixed;bottom: 0px;left:160px;right: 0;z-index: 1;border-top: 2px solid #a3b9dd;text-align:center; z-index:1}
.orderbar .layui-form-item .layui-input-inline {float:none;}
.media-boxcnt {padding-bottom:50px;}
.packagebox{ padding:10px 0;}
.news-add .layui-form-radio span{ display:none;}
/*服务市场*/
.service li{ float:left; width:33.33%;}
.service li a{ display:block;border:1px solid #ddd; margin:10px}
.service li:nth-child(3){ margin-right:0;}
.service li img{ width:100%;}
.service li div{ height:80px;}
.service li h2{ font-size:18px; line-height:50px;  float:left; border-right:1px solid #ddd; margin:15px 0; width:35%; text-align:center;}
.service li h3{ font-size:18px; line-height:50px;text-align:center; display:block; padding-top:15px;}
.service li h1{ font-size:18px;text-align:center; line-height:80px;}
.service li p{ float:left; text-align:center;  padding-top:15px; font-size:22px; width:32%; text-align:center; }
.service li span{ display:block; font-size:12px; color:#666;}
/*视频制作*/
.service-vmake .makeul{ margin-top:20px;}
.service-vmake .makeul li{ float:left; width:23.8%; margin:0 0.6%; margin-bottom:20px;}
.service-vmake .makeul li a{display: block;border: 1px solid #e6e6e6;}
.service-vmake .makeul li .vmake_div1{ position:relative;}
.service-vmake .makeul li .vmake_div1 h4{ display:block; height:200px; text-align:center; line-height:200px; color:#ddd; font-size:30px;background-color: #f7f7f7;}
.service-vmake .makeul li img{ width:100%; height:200px;}
.service-vmake .makeul li span{ position:absolute; right:4px; bottom:4px; background-color:#0d0f13; border-radius:22px; line-height:22px; padding:0 10px; color:#fff; font-size:12px;}
.service-vmake .makeul li span i{ margin-right:2px;}
.service-vmake .makeul li .vmake_div2{ height:50px; line-height:50px; padding:0 10px; position:relative;}
.service-vmake .makeul li h2{ display:block; height:50px; overflow:hidden; width:80%; font-size:16px;}
.service-vmake .makeul li p{ position:absolute; right:10px; top:0px; color:#999;}
.service-vmake .makeul li a{ color:#000;}
.vmarkedt{ padding:20px 40px;   }
.vmarkedt1{width:80%; margin:0 auto;}
.vmarkedt-no{ background-color:#f7f7f7;    border: 1px solid #ddd; width:600px; height:250px; line-height:250px; text-align:center; font-size:36px; color:#ddd; margin-top:40px;}
.vmarkedt-yes{ width:610px; height:380px;}
.vmarkedt-yes img{ width:100%;}
.vmarkedt1 h2{ font-size:16px; padding:15px 0; position:relative; display:block; width:610px; line-height:50px;}
.vmarkedt1 h2 span{ color:red}
.vmarkedt1 ul{ padding:40px 0; width:680px; padding-left:30px;}
.vmarkedt1 .djjh{ height:50px; width:200px; font-size:16px; line-height:16px; position:absolute; right:10px;}
.vmarkedt1 ul li{ float:left;}
.vmarkedt1 .layui-timeline-item:before {content: '';position: absolute;left: 0;top: 12px;z-index: 0;width: 122px;height: 100%;background-color: #e2e2e2;height: 1px;}
.wdiv{ padding-top:40px; margin-left:-120px; text-align:center;}
.vmarkedt1 .layui-timeline-item{ width:130px;}
.vmarkedt1 ul p{ font-size:16px;}
.vmarkedt1 ul h3{ color:#999;}
.vmarkedt1 ul span{ display:block; width:26px; height:26px; border-radius:26px; background-color:#5FB878; position:absolute; z-index:11111; left:-5px; color:#fff; text-align:center; font-size:14px; line-height:26px;}
.vmarkedt1 .layui-timeline-axis{ color:#ddd; top:4px}
.vmarkedt1 .layui-btn-grey:hover {color: #999;}
.vmarkedt1 .layui-btn-grey {background-color: #ddd!important;color: #999;cursor: not-allowed;}
/*视频云服务*/
.vcloud{ margin-top:10px;}
.vcloud table img{ float:left; margin-right:10px; width:120px; max-height:60px; overflow:hidden;}
.vcloud table h2{ color:#000; font-size:14px;}
.vcloud table p{ color:#999;}
.vcloud table i {font-size: 18px;margin: 0 8px;cursor: pointer;}
.vcloud_left{ float:left; width:70%;}
.vcloud_right{ float:right; width: 25%;background-color: #f5f5f5;border: 1px solid #ddd;border-top: 3px solid #ddd; padding:20px; padding-bottom:40px;}
.vcloud_right h2{ font-size:16px; padding-bottom:20px;}
.vcloud_right p{ color:#999; font-size:12px; padding:10px 0;}
.vcloud_right span{ font-size:14px; color:#000; padding-right:20px;}
.vcloud_pro{ padding-top:10px;}
.vcloud_left .layui-input-inline{ margin-right:5px; width:150px;}
.vcloud_left .layui-form-label{ width:auto; padding-left:10px; padding-right:5px}
.vcloud_left .layui-btn{ margin-left:10px;}
.vcloud_left .layui-inline{ margin-right:0;}
.vcloud_left .layui-form-item {float: left;width: auto;clear: none;font-size: 12px;}
.vcloud_left .layui-span {float: left;line-height: 38px;padding-right: 5px;font-size: 12px;}
.vcloud .layui-bg-a { background-color: #e37458;}
.vcloud .layui-bg-b {background-color: #f0b16b;}
#vupload{ padding:20px;text-align: center; padding-bottom:30px;}
#vupload p{ padding:10px; color:#999; font-size:12px;}
/*软文代写*/
.service-article{ padding-top:30px;}
.service-article h2 span{     color: #ff7800;font-size: 16px;}
.service-article .btn_grey{cursor: not-allowed; color:#999; border:none;}
.service-article table span{ color:#ff7800}
.service-demand{ padding:20px; font-size:12px; padding-top:40px; }
.service-demand .newsxq_ul{ position:relative;}
.service-demand .newsxq_ul li{ line-height:18px; padding:10px 0;}
.service-demand .newsxq_ul li p{ display:block; float:left; width:150px; text-align:right;}
.service-demand .newsxq_ul li span{ display:block; float:left;  color:#666; padding-left:10px; width:60%;}
.service-demand  .newsxq_ul img{ float:left; height:80px; margin-right:10px; margin-bottom:10px;}
.service-demand .newsxq_ul a{ color:#3596dd; margin-left:20px;}
.service-demand .newsxq_div h2{ display:block; height:38px; background-color:#E6E6E6; padding:0 10px; font-size:16px; line-height:38px;}
.service-demand .newsxq_div{ padding:20px 10px; width:70%; margin-left:70px;}
.service-demand .newsxq_div img{ width:40px; height:40px; border-radius:40px; float:left;}
.service-demand .newsxq_div ul{ background-color:#eee; padding:20px; max-height:250px; min-height:200px; overflow-y:scroll;}
.service-demand .newsxq_div li{ margin-bottom:10px;}
.service-demand .newsxq_div p{ display:block; float:left; max-width:70%;  background-color:#fff; border-radius:4px; padding:10px; line-height:18px; font-size:12px; margin-left:10px; border:1px solid #ddd; color:#666;}
.service-demand .newsxq_div h3{ text-align:center; padding-bottom:10px; color:#999;}
.service-demand .newsxq_div .newsxq_li1 img{ float:right;}
.service-demand .newsxq_div .newsxq_li1 p{ float:right; margin-right:10px; margin-left:0;}
.service-demand .newsxq_div h2 a{ text-align:right; font-size:14px; color:#a92935; display:block;}
.service-demand .newsxq_div1{ background-color:#fff; border:1px solid #ddd;}
.service-demand .newsxq_div1 textarea{ width:96%; padding:2%; border:none; height:60px;}
.service-demand .newsxq_div1 button{ float:right; margin:10px;}
.service-wz{ padding-top:40px;}
.service-wz .article_wz{ padding:40px; font-size:12px;padding-top:20px;}
.service-wz .article_wz h2{ font-size:24px;}
.service-wz .article_wz span{ color:#999; padding:10px 0; display:block; font-size:14px;}
.service-wz .article_wz p{ padding:5px 0; color:#666; line-height:20px;} 
.service-wz .article_wz img{ width:80%; padding:5px 0;}
.service-wz .wzsure{ font-size:16px; text-align:center; padding-top:40px; color:green}
.service-wz .layui-form-label{ width:auto;}
.service-wz .layui-input-block{ margin-left:40px;}
.service-article-xq{ padding-top:40px;}
.service-article-xq .layui-upload-list img{ max-height:100px;}
/*短信服务*/
.service-message{ padding-top:30px;position:relative;}
.service-message table p{ color:#999;}
.service-message h2 span{ color: #ff7800;font-size: 16px;}
.service-message h3{ color: #3596dd;font-size: 14px;position: absolute;right: 25px;top: 30px;cursor: pointer;}

#addmess ,#sendmess ,.fsreport{ padding:30px; font-size:12px;}
#addmess p{ padding-bottom:6px; float:left}
#addmess span{ float:right; color:#999;}
#addmess .layui-form-item{ margin-bottom:6px;}
#addmess h3{ color:#EA973E;font-size:12px;}
#addmess h2{ color:#999; font-size:12px; padding-top:10px;}
#sendmess .layui-form-label{ width:auto; padding:0; padding-left:10px;}
#sendmess .layui-input-block{ width:380px; margin-left:80px;}
#sendmess .layui-form-radio{ margin-top:0;}
#sendmess a{ color:#EA973E}
#sendmess p{ padding-left:30px; color:#999;}
#sendmess .layui-form-radio span{font-size:12px; }
#sendmess .send-label{ padding:9px 0; padding-left:10px;}
#sendmess .layui-form-item{ margin-bottom:20px;}
.layui-layer-page .layui-layer-content{ overflow:inherit !important}
.fsreport,#zlre{ padding:20px 30px; }
.fsreport h3{ display:block;font-size:14px;margin-bottom:15px;}
.fsreport p{ display:block; line-height:18px; padding-bottom:10px; color:#666;}
.fsreport p span{ padding:4px 8px; line-height:20px; background-color:#f5f5f5; border:1px solid #ddd; margin-right:6px;}
.fsreport .yfs{ color:green;}
.fsreport .sb{ color:red;}
.fsreport div{max-height:350px; overflow-y:scroll;}
.zlre{ color:#a92935; cursor:pointer;}
#zlre h3{ font-size:14px; line-height:24px; margin-bottom:10px;}
#zlre span{ color:#EA973E}
#zlre div{ max-height:350px; overflow-y:scroll;}
#zlre table{ margin-top:0;}
/*数据统计*/
.data-tip{ background-color:#e9f2f9; padding:10px; color:#999; font-size:12px; border:1px dashed #ccc;}
.data-nun{ padding:10px 0;}
.data-nun h2{ display:block; float:left; line-height:30px; color:#666; text-align:center; width:30%;border-right:1px solid #ddd; background-color:#f5f5f5; height:88px; padding-top:32px ; font-size:12px;}
.data-nun h2 span{ display:block; font-size:32px; color:#3596dd;}
.data-nun .nunlidiv  p{ font-size:14px; color:#333;}
.data-nun .nunlidiv{ float:left; width:63%; padding:20px 0; padding-left:3%;}
.data-nun ul{ margin-left:-10px; margin-right:-10px;}
.data-nun li{ width:50%; float:left; }
.data-nun .nunli{ border:1px solid #ddd; margin:10px; background-color:#fff;height:120px;}
.progress{height: 12px;line-height: 12px;background: #ddd;box-shadow: none;margin-top:20px;overflow: visible;border-radius:10px;}
.progressbar-title{color:#d8dedc;font-size:15px;margin:5px 0;font-weight: bold;}
.progress .progress-bar{position: relative;border-radius: 10px 0 0 10px;animation: animate-positive 2s;height:12px;background-color:#ff7800 !important;}
.progress .progress-bar span{position: absolute;top: 34px;right: -12px;color: #ff7800;display: block;font-size: 14px;}
.progress .progress-bar span:before{content: "";position: absolute;bottom: 20px;left: 4px; border: 9px solid transparent;border-bottom: 9px solid #ff7800;}
.progress .progress-bar span:after{font-family: fontawesome;font-size: 48px;color: #333;position: absolute;top: 51px;right: 6px;transform: rotateZ(48deg);}
@-webkit-keyframes animate-positive {0% { width: 0%;}}
@keyframes animate-positive {0% { width:0%; }}
.progress strong{ color:#999; font-weight:normal; font-size:14px; position:relative; padding-top:22px; float:left;}
.progress strong:before{content: "";position: absolute;bottom: 20px;left: 4px;border: 9px solid transparent;border-bottom: 9px solid #ccc;}
.progress .strong1{float:right;}
.dataul { margin:0 -6px; margin-bottom:-6px;}
.dataul li{ float:left; width:33.333%}
.dataul div{ margin:6px; border:1px solid #ddd; background-color:#fff;}
.dataul div h3{ display:block; height:124px;}
.dataul div p{ display:block; float:left; width:33%; text-align:center; font-size:14px; color:#666; line-height:32px; margin-top:30px; border-right:1px solid #ddd;}
.dataul div p:last-child{ border:none;}
.dataul div p span{color:#3596dd; font-size:30px; display:block;}
.dataul div p span strong{ color:#666; font-size:14px; padding-left:4px; font-weight:normal;}
.dataul div .htwo p{ width:49.5%;}
.dataul div  h2{ color:#fff; background-color:#6699cc; display:block; height:42px; font-size:18px; padding:0 15px; line-height:42px; position:relative;}
.dataul div h2 a{ position:absolute; right:15px; font-size:14px; color:#fff;}
.dataul div .hc1{ background-color:#cc6666;}
.dataul div .hc2{ background-color:#4fa6a1;}
.dataul div .hc3{ background-color:#cc9966;}
.dataul div .hc4{ background-color:#9999cc;}
.dataul div .hc5{ background-color:#acacac;}
.datact{ border:1px solid #ddd; background-color:#fff; padding:20px; margin-top:20px;}
.datact h2{ font-size:18px; color:#000;}
.datact .layui-tab{ padding-top:20px;}
.datact-left{ width:50%; float:left; padding-top:20px;}
.datact-right{ float:right; width:50%; padding-top:20px;}
.datact h2 span{ font-size:12px; color:#999;}
.datact h2 a{ float:right; font-size:14px; color:#3596dd;}
.datact-de{ margin-top:0;}
/*账户管理*/
.basic ul{ padding:20px 0;}
.basic ul li{  border-bottom:1px solid #e5e5e5; padding:30px 20px;}
.basic ul li input{ float:left; margin-left:20px; width:420px; margin-right:20px;}
.basic ul li i{ float:left; display:block; font-size:50px; color:#7abd54; line-height:40px;}
.basic ul li p{ display:block; float:left;  line-height:20px; color:#999; width:440px; padding:10px 0;padding-left:20px; font-size:12px; }
.basic ul li button{ float:left;}
.basic ul li h2{ float:left; display:block; font-size:22px; color:#666; width:150px; text-align:left; padding-left:20px; border-right:1px solid #e5e5e5; line-height:40px;}
.basic ul li strong{ color:#666; padding-right:20px;}
#btnedita ,#btneditb{ padding:40px 0; padding-bottom:30px;font-size:12px;}
#btnedita input{ float:left; width:150px; margin-right:5px;}
#btnedita .layui-btn-grey{ background-color:#ddd!important;color:#999; cursor: not-allowed;}
#btnedita .layui-btn-grey:hover{color:#999;}
#btnedita .layui-form-label{ width:110px;}
#btneditb .layui-input-block{ margin-left:120px;}
#btneditb input{ width:230px;}
.splogo1 { color:#999; padding-left:6px;}
.account-info .smlmtip1{ margin-bottom:20px;}
.account-info1{ padding-top:40px;}
.account-contact{ padding-top:40px;}
.sspan {float: left;color: #999;line-height: 40px;padding-right: 20px;}
.ct-table{ padding:20px 40px; background-color:#f5f5f5; margin:0 60px; margin-top:30px;}
.ctadd{ padding:30px 50px; padding-left:0; padding-top:40px;}
/*在线客服*/
.online_tit{ padding-bottom:5px;}
.online_tit h2{ display:block;float:left; padding-top:5px; font-size:16px;}
.layui-field-title{ margin-bottom:0;}
.online_tit label{ float:left; padding-right:10px; padding-top:12px; font-size:14px;}
.online_tit input{ float:left;}
.contact_btn{ text-align:center; margin-top:10px;}
#addkf{ padding:30px 20px;font-size:12px;}
#addkf .layui-input-block{ width:260px; margin-left:120px;font-size:12px;}
#addkf .layui-form-label{ width:90px;}
.xunpan-nav{ position:relative; padding-top:5px; height:24px;}
.xunpan-nav h2{ font-size:14px;}
.xunpan-nav a{ font-size:20px; color:#333; margin-right:20px; float:left;}
.xunpan-nav .ts{ color:#3596dd}
.xunpan-nav .layui-inline{ position:absolute; right:0; top:-7px;}
.xunpan-nav span{    color: #ff7800; padding:0 2px;}
#xpb{ padding-top:20px;}
.bluea ,.bluea:hover{color:#3596dd; font-size:14px;}
/*在线留言*/
.xunpan-online table a{word-break:break-all; }
.xunpan-online table span{ cursor:pointer;}
.xponline{ padding:30px;}
.xponline .newsxq_ul li{ line-height:18px; padding:8px 0;}
.xponline .newsxq_ul li p{ display:block; float:left; width:100px; text-align:right;}
.xponline .newsxq_ul li span{ display:block; float:left;  color:#666; padding-left:10px; width:400px;}
.xponline .span1{max-height:100px; }
@media(max-width:1780px){.business ul li{ float:left; width:25%; }.sub_template li{ width:33.33%}}
@media(max-width:1500px){.ct_date ul li h1{ font-size:40px; padding-top:45px;}.substation li{ width:25%; } .smlm-product-list li{width:20%;}.ct3 ul li{ width:20%;}.business ul li{ float:left; width:33.33%; }}
@media(max-width:1350px){.ct_date ul li h1{ font-size:30px; padding-top:50px;}.ct_last ul li{ width:20%;}.substation li ,.sub_template li{ width:33.33%;}.business ul li,.smlm-product-list li{width:33.33%;}ul.media-cnt li {width:33.33333%;}.service li{ width:50%;}.dataul li{ width:50%;}.business ul li{ float:left; width:50%; }.sub_template li{ width:50%; }}
@media(max-width:1024px){
	.nav{ width:50px; position:fixed; height:100%; z-index:2}
	.nav ul li span{ display:none;}
	.nav ul li a{ padding-left:0px;}
	.nav ul li i{ font-size:16px; text-align:center; width:50px;}
	.nav div{ display:none;}
	.nav p{ display:block; background-color:#333;    border-bottom: 1px solid #4c4c4c; }
	.nav p i{ font-size:18px;}
	.content{ padding-left:70px}
	.top h2{ width:90px; } 
	.top h2 img{ height:26px;}
	.top div{ float:right; padding-right:20px;}
	.top span{ padding-left:105px;}
	.ct_date ,.ct_basic ,.ct_tip ,.ct_last{ width:100%; float:none; border:1px solid #ddd;}
	.ct_basic{ height:200px;}
	.ct_date ,.ct2 ,.ct_work ,.ct_hot{ margin-top:15px;}
	.ct_date div ,.ct1 ,.ct2,.ct_work div ,.ct3 ,.ct_hot .ct_hot1{border:none;}
	.ct_date ul li h1{ font-size:44px; color:#3596dd;padding-top:35px; }
	.ct2 ,.ct3{ background-color:inherit;}
	.ct_tip ,.ct_last{ background-color:#fff;}
	.orderbar{ left:50px;}
	.ct3 ul li{ width:25%;}
	
	}
@media(max-width:900px){.substation li ,.sub_template li{ width:50%; }.business ul li,.smlm-product-list li{width:50%;}.service li{ width:100%;}.data-nun li{ width:100%; }
.datact-right ,.datact-left{width:100%;}.ct3 ul li{ width:33.33%;}}
@media(max-width:768px){ul.media-cnt li {width:50%;}.service li{ width:100%;}.dataul li{ width:100%;}.ct3 ul li{ width:50%;}.business ul li{ float:left; width:100%; }}
